# New Section

# 1.**Lists**

In [12]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
list_sum = sum(my_list)
list_min = min(my_list)
list_max = max(my_list)

print(f"Sum: {list_sum}")
print(f"Minimum: {list_min}")
print(f"Maximum: {list_max}")

Sum: 55
Minimum: 1
Maximum: 10

In [14]:
# Sort the list in ascending order
my_list.sort()
print(f"List sorted in ascending order: {my_list}")

# Sort the list in descending order
my_list.sort(reverse=True)
print(f"List sorted in descending order: {my_list}")

List sorted in ascending order: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List sorted in descending order: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [20]:

my_list.append(11)
print(f"List after appending 11: {my_list}")

if len(my_list) > 0:
  removed_element = my_list.pop(0)
  print(f"List after removing {removed_element}: {my_list}")
else:
  print("List is empty, cannot remove element.")

List after appending 11: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 11]
List after removing 10: [9, 8, 7, 6, 5, 4, 3, 2, 1, 11]

# 2.**Tuples**

In [15]:
fruits_tuple = ("apple", "banana", "cherry", "date", "elderberry")
print(fruits_tuple)

('apple', 'banana', 'cherry', 'date', 'elderberry')

In [16]:

second_element = fruits_tuple[1]
print(f"The second element of the tuple is: {second_element}")

The second element of the tuple is: banana

In [17]:

fruits_list = list(fruits_tuple)
print(f"Converted to list: {fruits_list}")

fruits_list.append("fig")
print(f"List after appending 'fig': {fruits_list}")

fruits_list.remove("banana")
print(f"List after removing 'banana': {fruits_list}")

modified_fruits_tuple = tuple(fruits_list)
print(f"Converted back to tuple: {modified_fruits_tuple}")

Converted to list: ['apple', 'banana', 'cherry', 'date', 'elderberry']
List after appending 'fig': ['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig']
List after removing 'banana': ['apple', 'cherry', 'date', 'elderberry', 'fig']
Converted back to tuple: ('apple', 'cherry', 'date', 'elderberry', 'fig')

## 3.**Sets**

In [18]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print(f"Set 1: {set1}")
print(f"Set 2: {set2}")

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}

In [19]:
set_union = set1.union(set2)
print(f"Union of Set 1 and Set 2: {set_union}")

set_intersection = set1.intersection(set2)
print(f"Intersection of Set 1 and Set 2: {set_intersection}")

set_difference1 = set1.difference(set2)
print(f"Difference (Set1 - Set2): {set_difference1}")

set_difference2 = set2.difference(set1)
print(f"Difference (Set2 - Set1): {set_difference2}")

Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of Set 1 and Set 2: {4, 5}
Difference (Set1 - Set2): {1, 2, 3}
Difference (Set2 - Set1): {8, 6, 7}

# 4.**Dictionaries**

In [25]:
student_marks = {
    "Ali": 85,
    "Babar": 92,
    "Ahmad": 78,
    "Zain": 95,
    "Mohid": 88
}

print("Initial dictionary:")
print(student_marks)

Initial dictionary:
{'Ali': 85, 'Babar': 92, 'Ahmad': 78, 'Zain': 95, 'Mohid': 88}

In [26]:
print("\nKeys in the dictionary:")
for key in student_marks.keys():
    print(key)

print("\nValues in the dictionary:")
for value in student_marks.values():
    print(value)

print("\nKey-value pairs in the dictionary:")
for key, value in student_marks.items():
    print(f"{key}: {value}")

Keys in the dictionary:
Ali
Babar
Ahmad
Zain
Mohid

Values in the dictionary:
85
92
78
95
88

Key-value pairs in the dictionary:
Ali: 85
Babar: 92
Ahmad: 78
Zain: 95
Mohid: 88

In [29]:
student_marks["Ali"] = 90
print("\nDictionary after updating Ali's marks:")
print(student_marks)

Dictionary after updating Ali's marks:
{'Ali': 90, 'Babar': 92, 'Zain': 95, 'Mohid': 88}

In [28]:
del student_marks["Ahmad"]
print("\nDictionary after deleting Ahmad:")
print(student_marks)

Dictionary after deleting Ahmad:
{'Ali': 85, 'Babar': 92, 'Zain': 95, 'Mohid': 88}

In [27]:
key_to_check = "Zain"
if key_to_check in student_marks:
    print(f"\n'{key_to_check}' exists in the dictionary.")
else:
    print(f"\n'{key_to_check}' does not exist in the dictionary.")

key_to_check = "Ahmad"
if key_to_check in student_marks:
    print(f"\n'{key_to_check}' exists in the dictionary.")
else:
    print(f"\n'{key_to_check}' does not exist in the dictionary.")

'Zain' exists in the dictionary.

'Ahmad' exists in the dictionary.

# 5.**Numpy**

# 6.**Matplotlib**